In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [3]:
driver = webdriver.Chrome(executable_path="D:\\chromedriver_win32\\chromedriver.exe")

In [4]:
url = "https://trak.in/"

In [5]:
driver.get(url)

In [6]:
driver.find_element_by_xpath('//*[@id="menu-item-51510"]/a').click()

In [7]:
Date=[]
Startup_name=[]
Vertical=[]
Sub_vertical=[]
Location=[]
Investors_name=[]
Investment_type=[]
Amount=[]

In [8]:
date = driver.find_elements_by_xpath("//td[@class='column-2']")
date[0:5]

for i in date:
    dates=i.text.replace("\n"," ")
    Date.append(dates)
Date[0:5]

['01/04/2021', '05/04/2021', '14/04/2021', '07/04/2021', '14/04/2021']

In [9]:
startup = driver.find_elements_by_xpath("//td[@class='column-3']")
startup[0:5]

for i in startup:
    startups=i.text.replace("\n"," ")
    Startup_name.append(startups)
Startup_name[0:5]

['BYJU’S', 'Meesho', 'Swiggy', 'Groww', 'Beldara']

In [10]:
vertical = driver.find_elements_by_xpath("//td[@class='column-4']")
vertical[0:5]

for i in vertical:
    verticals=i.text.replace("\n"," ")
    Vertical.append(verticals)
Vertical[0:5]

['Edu-tech', 'E-commerce', 'Online Food Delivery', 'FinTech', 'E-commerce']

In [11]:
sub_vertical = driver.find_elements_by_xpath("//td[@class='column-5']")
sub_vertical[0:5]

for i in sub_vertical:
    sub_verticals=i.text.replace("\n"," ")
    Sub_vertical.append(sub_verticals)
Sub_vertical[0:5]

['Online tutoring',
 'Online reselling platform',
 'Online Food Delivery',
 'Investment platform',
 'Global B2B marketplace']

In [12]:
location = driver.find_elements_by_xpath("//td[@class='column-6']")
location[0:5]

for i in location:
    locations=i.text.replace("\n"," ")
    Location.append(locations)
Location[0:5]

['Bengaluru', 'Bengaluru', 'Bengaluru', 'Bengaluru', 'Mumbai']

In [13]:
investors_name = driver.find_elements_by_xpath("//td[@class='column-7']")
investors_name[0:5]

for i in investors_name:
    investors_names=i.text.replace("\n"," ")
    Investors_name.append(investors_names)
Investors_name[0:5]

['Innoven Capital',
 'SoftBank Vision Fund 2',
 'Amansa Holdings, Carmignac, Falcon Edge Capital, Goldman Sachs, Think Investments',
 'MC Global Edtech, B Capital, Baron, others',
 'Hindustan Media Ventures']

In [14]:
investment_type = driver.find_elements_by_xpath("//td[@class='column-8']")
investment_type[0:5]

for i in investment_type:
    investment_types=i.text.replace("\n"," ")
    Investment_type.append(investment_types)
Investment_type[0:5]

['Series F', 'Series E', 'Series J', 'Series D', 'Venture']

In [15]:
amount = driver.find_elements_by_xpath("//td[@class='column-9']")
amount[0:5]

for i in amount:
    amounts=i.text.replace("\n"," ")
    Amount.append(amounts)
Amount[0:5]

['460,000,000', '300,000,000', '343,000,000', '83,000,000', '7,400,000']

In [16]:
print(len(Date),len(Startup_name),len(Vertical),len(Sub_vertical),len(Location),len(Investors_name),len(Investment_type),len(Amount))

392 392 392 392 392 392 392 392

In [17]:
Funding_deals=pd.DataFrame({})
Funding_deals['Date']=Date[0:5]
Funding_deals['Startup_name']=Startup_name[0:5]
Funding_deals['Vertical']=Vertical[0:5]
Funding_deals['Sub_vertical']=Sub_vertical[0:5]
Funding_deals['Location']=Location[0:5]
Funding_deals['Investors_name']=Investors_name[0:5]
Funding_deals['Investment_type']=Investment_type[0:5]
Funding_deals['Amount']=Amount[0:5]

In [18]:
Funding_deals

,Date,Startup_name,Vertical,Sub_vertical,Location,Investors_name,Investment_type,Amount
0,01/04/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,Innoven Capital,Series F,"460,000,000"
1,05/04/2021,Meesho,E-commerce,Online reselling platform,Bengaluru,SoftBank Vision Fund 2,Series E,"300,000,000"
2,14/04/2021,Swiggy,Online Food Delivery,Online Food Delivery,Bengaluru,"Amansa Holdings, Carmignac, Falcon Edge Capita...",Series J,"343,000,000"
3,07/04/2021,Groww,FinTech,Investment platform,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series D,"83,000,000"
4,14/04/2021,Beldara,E-commerce,Global B2B marketplace,Mumbai,Hindustan Media Ventures,Venture,"7,400,000"

In [21]:
Funding_deals.to_csv("Funding_deals.csv")

In [22]:
driver.close()